// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";

body {
    padding-top: 120px;
}

footer {
    padding-top: 60px;
}

.team-logo-sm {
    max-width: 32px;
}

.team-score-table, .player-score-table {
    width: 100%;
}

.team-score-table td, .team-score-table th, .player-score-table td, .player-score-table th {
    padding: 2px 5px;
}
