<template>

    <div class="container-fluid">

        <div class="row mb-5">
            <div class="col-md-auto">
                <div v-if="this.status == 0" class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Simulate week {{this.week}} data</div>
                <div class="card-body">
                  <p class="card-text">
                      Please click on the button bellow and wait for simulation data.
                      <br />
                      <a class="btn btn-secondary" v-on:click="startWeekGames">Start simulation ...</a>
                  </p>
                </div>
              </div>
                <a v-if="this.status > 0" class="btn btn-primary btn-lg" v-bind:href="'/standing/weekly/' + this.week">Standing board by week[{{this.week}}]</a>

            </div>
            <div class="col">
                <div>
                    <ul>
                        <li>Schedule data fetched from NBA API.</li>
                        <li>Each Basketball team has <strong>5 players</strong> but some of them are <strong>changing during the game</strong> so the total players per team can be more than 5 players.</li>
                        <li>Each basketball game <strong>should have a winner</strong> and we don't have same result (score) in Basketball.</li>
                        <li>Players name is <strong>not real</strong> because they are not defined for feature games for simulation.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div v-if="this.alert == 1" class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Games simulation process started!</strong> Please wait a few seconds...
        </div>

        <div class="row" v-for="game in sortedStartedGames">

            <div class="col-4">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <strong class="text-danger">Game: {{game.id}}</strong>
                        <i class="fa fa-flag-checkered" v-if="!game.finished"></i>
                    </div>
                    <div class="card-body">
                      <table class="team-score-table">
                            <tr>
                                <th colspan="2"></th>
                                <th>Q1</th>
                                <th>Q2</th>
                                <th>Q3</th>
                                <th>Q4</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td><img v-bind:src="game.home.logo" class="img-fluid team-logo-sm" /></td>
                                <td><h2>{{game.home.abbrev}}</h2></td>
                                <td>{{game.quarter_h_1}}</td>
                                <td>{{game.quarter_h_2}}</td>
                                <td>{{game.quarter_h_3}}</td>
                                <td>{{game.quarter_h_4}}</td>
                                <td>{{game.quarter_h_1+game.quarter_h_2+game.quarter_h_3+game.quarter_h_4}}</td>
                            </tr>
                            <tr>
                                <td><img v-bind:src="game.visitor.logo" class="img-fluid team-logo-sm" /></td>
                                <td><h2>{{game.visitor.abbrev}}</h2></td>
                                <td>{{game.quarter_v_1}}</td>
                                <td>{{game.quarter_v_2}}</td>
                                <td>{{game.quarter_v_3}}</td>
                                <td>{{game.quarter_v_4}}</td>
                                <td>{{game.quarter_v_1+game.quarter_v_2+game.quarter_v_3+game.quarter_v_4}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-4">
              <div class="card border-info mb-3">
                  <div class="card-header">
                      <img v-bind:src="game.home.logo" class="img-fluid team-logo-sm" />
                      <strong>{{game.home.name + ' ' + game.home.nickname}}</strong> Players stats
                  </div>
                <div class="card-body">
                    <table class="player-score-table">
                        <tr>
                            <th>Name</th>
                            <th>Pnl</th>
                            <th>2P</th>
                            <th>P3</th>
                            <th>Asi</th>
                            <th>T</th>
                        </tr>
                        <tr v-for="player in sortedPlayer(game.home_players)">
                            <td>{{getPlayerName(player.player_id)}}</td>
                            <td>{{player.score1}}</td>
                            <td>{{player.score2}}</td>
                            <td>{{player.score3}}</td>
                            <td>{{player.assist}}</td>
                            <td>{{player.score}}</td>
                        </tr>
                    </table>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="card border-danger mb-3">
                  <div class="card-header">
                      <img v-bind:src="game.visitor.logo" class="img-fluid team-logo-sm" />
                      <strong>{{game.visitor.name + ' ' + game.visitor.nickname}}</strong> Player stats
                  </div>
                <div class="card-body">
                      <table class="player-score-table">
                        <tr>
                            <th>Name</th>
                            <th>Pnl</th>
                            <th>2P</th>
                            <th>P3</th>
                            <th>Asi</th>
                            <th>T</th>
                        </tr>

                        <tr v-for="player in sortedPlayer(game.visitor_players)">
                            <td>{{getPlayerName(player.player_id)}}</td>
                            <td>{{player.score1}}</td>
                            <td>{{player.score2}}</td>
                            <td>{{player.score3}}</td>
                            <td>{{player.assist}}</td>
                            <td>{{player.score}}</td>
                        </tr>
                    </table>
                </div>
              </div>
            </div>
            <hr class="my-4" />
        </div>
    </div>
</template>
<script>
    export default {
        directives: {
            'autofocus': {
                inserted (el) {
                    el.focus ();
                }
            }
        },
        props     : [
            'initialWeek', 'initStarted'
        ],
        data () {
            return {
                games  : [],
                players: [],
                alert  : 0,
                week   : this.initialWeek,
                status : parseInt (this.initStarted)
            }
        },
        created () {
            this.fetchScoresList ();
            this.fetchPlayersList ();
            this.listenForChanges ();
        },
        methods   : {
            fetchScoresList () {
                var url = '/api/games/' + this.week;
                var $this = this;

                axios.get (url).then (function (result) {
                    $this.games = result.data;
                });
            },
            fetchPlayersList (archive = null) {
                var url = '/api/players'

                axios.get (url).then (result => {
                    this.players = Array.from (Object.keys (result.data), k => result.data[k]);
                });
            },
            getPlayerName (playerId) {
                return this.players[playerId]
            },
            listenForChanges () {
                var $this = this;
                Echo.channel ('games')
                    .listen ('PlayerUpdated', (e) => {
                        for (let [g, p] of Object.entries (e.players)) {
                            // console.log(g,  p);
                            var game = $this.games.find ((game) => parseInt (game.id) === parseInt (p.gid));

                            if (game) {
                                var index = $this.games.indexOf (game)
                                $this.games[index].home_players = p.hp
                                $this.games[index].visitor_players = p.vp
                            }
                        }
                    })
                    .listen ('GameUpdated', (e) => {
                        Array.from (e.games).forEach (function (g) {
                            var game = $this.games.find ((game) => game.id === g.id);
                            if (game) {
                                var index = $this.games.indexOf (game)
                                $this.games[index].quarter_h_1 = g.qh1
                                $this.games[index].quarter_h_2 = g.qh2
                                $this.games[index].quarter_h_3 = g.qh3
                                $this.games[index].quarter_h_4 = g.qh4

                                $this.games[index].quarter_v_1 = g.qv1
                                $this.games[index].quarter_v_2 = g.qv2
                                $this.games[index].quarter_v_3 = g.qv3
                                $this.games[index].quarter_v_4 = g.qv4

                                $this.games[index].winner_id = g.w
                                $this.games[index].home_attacks = g.ha
                                $this.games[index].visitor_attacks = g.va
                                $this.games[index].started = g.s
                            }
                        });
                    });
            },
            startWeekGames () {
                var url = '/api/simulate/' + this.week;

                console.log ('week ' + this.week + ' simulation started');

                this.status = 1;
                this.alert = 1;

                axios.get (url).then (result => {
                    console.log (result.data);
                });
            },
            sortedPlayer (players) {
                if (typeof players === "undefined") {
                    return []
                }
                return players.slice ().sort (function (a, b) {
                    return b.score - a.score;
                });
            }
        },
        computed  : {
            sortedStartedGames () {
                return this.games.filter (function (g) {
                    return g.started
                }).sort ((a, b) => a.id - b.id)
            }
        }
    }
</script>
