<template>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter task-list">
            <div class="box">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h2 class="title">Standing - {{type}} : {{time}}</h2>
                        </div>
                        <div class="col text-right">
                            <a class="btn btn-primary" v-if="type !== 'total'" href="/standing/total">Total Standing</a>
                        </div>
                    </div>
                </div>
                <hr>
                <table class="table table-bordered">
                    <tr>
                        <th>Rank</th>
                        <th></th>
                        <th>Team</th>
                        <th>Wins</th>
                        <th>Looses</th>
                        <th>Win Percentage</th>
                        <th>Total score earned</th>
                        <th>Total score lost</th>
                    </tr>

                    <tr v-for="(team, key) in teams">
                        <td>{{key+1}}</td>
                        <td class="text-center"><img v-bind:src="team.logo" class="img-fluid team-logo-sm" /></td>
                        <td>{{team.name + ' ' + team.nickname}}</td>
                        <td>{{team.wins}}</td>
                        <td>{{team.looses}}</td>
                        <td>{{ formatPercentage(team.wins / (team.wins + team.looses))}} %</td>
                        <td>{{team.total_earned}}</td>
                        <td>{{team.total_lost}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        directives: {
            'autofocus': {
                inserted (el) {
                    el.focus ();
                }
            }
        },
        props     : ['initialType', 'initialTime'],
        data () {
            return {
                teams: [],
                type : this.initialType,
                time : this.initialTime
            }
        },
        created () {
            this.fetchStandingData (this.type, this.time);
        },
        methods   : {
            fetchStandingData () {
                var url = '/api/standing/' + this.type + '/' + this.time
                axios.get (url).then (result => {
                    this.teams = result.data
                });
            },
            formatPercentage (value) {
                value = +value;

                if (isNaN (value))
                    return NaN;

                // Shift
                value = value.toString ().split ('e');
                value = Math.round (+(value[0] + 'e' + (value[1] ? (+value[1] + 2) : 2)));

                // Shift back
                value = value.toString ().split ('e');
                return (+(value[0] + 'e' + (value[1] ? (+value[1] - 2) : -2))).toFixed (2);
            }
        }
    }
</script>
